<template>
    <div>
        Server #{{ server.id }} {{server.name}} <span class='status' :class='{running:server.status=="Running",stopped:server.status=="Stopped"}'>{{server.status}}</span>
    </div>
</template>


<script>
export default{
  props:{
      server : Object
  },
}
</script>


<style scoped>
   .status {
        float:right;
        border-radius: 16px;
        padding:3px 9px 3px 9px;
        text-align: center;
        color: lightgray;   
        border: 1px solid #a0a0a0;
   } 
   .running{
        color: darkolivegreen;   
        border: 1px solid #f5f8f0 important!;
   } 
   .stopped{
       color: darkred;   
       border: 1px solid #fff5f5 important!;
   }
  
</style>

