<template>
   <div id="stylePlay">
      <button class='btn btn-primary' @click="startEffect">Start Effect</button>
      <button  class='btn btn-danger' @click="stopEffect">Stop Effect</button>
      <br><br>
      <div class="row">
         <div class="column transition" :class='{shrink:randomMode||shrinkMode,highlight:!(randomMode||shrinkMode)}' id="effect"></div>
         <div class="column transition" :class='{shrink:!shrinkMode,highlight:shrinkMode}' id="effect"></div>
         <div class="column transition" :class='{shrink:randomMode,highlight:!randomMode}' id="effect"></div>
      </div>
   </div>
</template>

<script>
    let timer;
export default {
        data(){
           return{
            shrinkMode:false,
            randomMode:false,
          }
        },
        methods:{
          startEffect:function(){
            let vueThis = this;
            clearInterval(timer);
            timer = setInterval(()=>{
              vueThis.shrinkMode=!vueThis.shrinkMode
              vueThis.randomMode= Math.random()>0.5;
            },1000);
          },          
          stopEffect:function(){
            clearInterval(timer);
          },          
        }
    }
</script>

  <style scoped>
    #effect {
      width: 100px;
      height: 100px;
      border: 4px solid #1cb7d3;
    }
    
    .highlight {
      background-color: cadetblue;
      width:  50px !important;
      height: 100px !important;
      margin-left:25px;
      margin-right:25px;
    }
    
    .shrink {
      background-color: gray;
      width: 100px !important;
      height: 50px !important;
      margin-top:25px;
      margin-bottom:25px;
    }
  
    .column {
     float: left;
     width: 33.33%;
    }

    .row:after {
     content: "";
     display: table;
     clear: both;
    }

    .transition{ transition: all 1s; }

  </style>
