<template>
    <div>
         <p>Using state properties directly</p>
        <button class="btn btn-primary" @click="inc">Increment</button>
        <button class="btn btn-primary" @click="dec">Decrement</button>
        <hr>
        <p>Using mutations (Can only be synchronous)</p>
        <button class="btn btn-primary" @click="increment">Increment</button>
        <button class="btn btn-primary" @click="decrement">Decrement</button>
        <p>Using mutations with arguments</p>
        <input type="text" v-model="n">
        <button class="btn btn-primary" @click="incrementBy(n)">Increment</button>
        <button class="btn btn-primary" @click="decrementBy(n)">Decrement</button>
        <hr>
        <p>Using synchronous actions</p>
        <button class="btn btn-primary" @click="incBy(n)">Increment</button>
        <button class="btn btn-primary" @click="decBy(n)">Decrement</button>
        <p>Using asynchronous actions and object payload argument </p>
        <button class="btn btn-primary" @click="asyncIncBy({by:n,delay:1000})">Increment</button>
        <button class="btn btn-primary" @click="asyncDecBy({by:n,delay:1000})">Decrement</button>

    </div>
</template>

<script>
import {mapMutations} from 'vuex'
import {mapActions} from 'vuex'

    export default {
        data(){
            return{
                n:5
            }
        },
        methods: {
            inc() {
               // this.$emit('updated', 1);
               this.$store.state.title.title

               this.$store.state.counter.counter++
            },
            dec() {
              //  this.$emit('updated', -1);
              this.$store.state.counter.counter--;
            },
            // increment() {
            //    this.$store.commit('increment');
            // },
            // decrement() {
            //   this.$store.commit('decrement');
            // },
            //importing all mutations instead of defining single methods
            ...mapMutations(['increment','decrement', 'incrementBy','decrementBy']),
            //it is best practice not to use mutations directly but define actions instead
            ...mapActions(['incBy','decBy','asyncIncBy','asyncDecBy'])


        }
    }
</script>