<template>
    <div>
        <h1>The Home Page</h1>
        <hr>
        <p>This is simple router navigation example. It uses several navigation strategies:</p>
        <ul>
            <li>With <b>&lt;router-link&gt;</b> replacing a or li in the bootstrap navbar</li>
            <li>Used for navigation in the code e.g.: <router-link to="/user/1">User 1 go to home button</router-link></li>
            <li>Using named vuews <b>&lt;router-vue name="header-top"&gt;</b> which are setup in routers.js</li>
            <li>Setup scroll behaviour in setupVueRouter and using hash="#label" to navigate to selected element. e.g. <router-link to="/users/1/edit">Edit User</router-link></li>
            <li>Using Guards to controll access to resources and navigation</li>
            <li>Setting up Lazy loading in routes.js using resolve() function</li>
        </ul>

    </div>
</template>