<template>
  <div>
    <button class='btn btn-primary' v-on:click="startProgress">Start Progress</button>
    <div class="progress middle" :style="{width:progress+'%'}">{{progress}}%</div>
  </div>
</template>

<script>
let progressTimer;
export default {
        data(){
           return{
            progress:0  
          }
        },
        methods:{
          startProgress:function(){
            this.progress = 0;
            clearInterval(progressTimer);
            progressTimer = setInterval(()=>{
              if (this.progress<100)
                this.progress++;
              else  {
                this.progress = 0;
                clearInterval(progressTimer);
              }
            },100);
          }
        }
    }
</script>

  <style scoped>

    .progress{
      background-color: gray;
      color:white;
      width: 0px;
      height: 16px;
      margin-top:25px;
      margin-bottom:25px;
    } 

    .middle {
      text-align: center;
    }
  </style>
