<template>
  <div id="dashboard">
    <h1>That's the dashboard!</h1>
    <p>You should only get here if you're authenticated!</p>

    <div class="panel panel-default" v-for="user in users" :key="user.key">
        <div class="panel-heading">
            <h4>{{user.email}} with id:{{user.id}}</h4>
        </div>
        <div class="panel-body">
            <p> age={{user.age}} country={{user.country}} </p>
            <ul>
                <li v-for="(hobby,index) in user.hobbies" :key='index'>{{hobby}}</li>
            </ul>
        </div> 
    </div>

  </div>
</template>
<script>
import axios from 'axios'
export default {
  computed:{
    users(){
      return this.$store.getters.getUsers;
    }
  },
  created(){
    this.$store.dispatch('getUsers')
  }
}
</script>

<style scoped>
  h1, p {
    text-align: center;
  }

  p {
    color: red;
  }
</style>