<template>
    <div class="container">
         <div class="row">
                <div class="col">
                   <button @click="visibleForm='ComplaintForm'">ComplaintForm</button>
                   <button @click="visibleForm='RegistrationForm'">RegistrattionForm</button>
                   <button @click="visibleForm='Directives'">Directives</button>
                   <button @click="visibleForm='Filters'">Filters</button>
                   <button @click="visibleForm='Mixin'">Mixin</button>
                   <button @click="visibleForm='ComponentsCommunication'">Components</button>
                   <button @click="visibleForm='Animations'">Animations</button>
                   <button @click="visibleForm='Quiz'">Quiz</button>
                   <button @click="visibleForm='VueRes'">Resources</button>
                   <button @click="visibleForm='Router'">Router</button>
                   <button @click="visibleForm='VuexTester'">Vuex</button>
                   <button @click="visibleForm='VuexTester'">Vuex</button>
                   <button @click="visibleForm='Axios'">Axios</button>

                </div>   
         </div>       
         <div class="row">
            <component :is="visibleForm"></component>
        </div>
    </div>
</template>

<script>
import ComplaintForm from "./ComplaintForm";
import RegistrationForm from "./RegistrationForm";
import Directives from "./Directives";
import Filters from "./Filters";
import Mixin from "./Mixin";
import ComponentsCommunication from "./ComponentsCommunication";
import Animations from "./Animations";
import Quiz from "./Quiz";
import VueRes from "./VueRes";
import Vue from 'vue';
import Router from "./Router";
import VuexTester from "./VuexTester";
import Axios from "./Axios";

export default {
  data(){
     return {
        visibleForm:Animations
     }
  }, 
  components: {
    ComplaintForm: ComplaintForm,
    RegistrationForm: RegistrationForm,
    Directives:Directives,
    Filters:Filters,
    Mixin:Mixin,
    ComponentsCommunication:ComponentsCommunication,
    Animations:Animations, 
    Quiz:Quiz,
    VueRes:VueRes,
    Router:Router,
    VuexTester:VuexTester,
    Axios
  }
};
</script> 

<style>
</style>
