<template>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <vue-ex-header></vue-ex-header>
        </div>
      </div>
      <hr>
      <div class="col-xs-12 col-sm-6">
        <app-server-list></app-server-list>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <app-server-details></app-server-details>
        </div>
       </div>
      <div class="row">
         <hr>
          <div class="col-xs-12">
            <vue-ex-footer></vue-ex-footer>
          </div>
      </div>
    </div>
</template>

<script>
import ServersList from './server/ServersList.vue'
import ServerDetails from './server/ServerDetails.vue'
export default{
  components:{
    'app-server-list':ServersList,
    'app-server-details':ServerDetails
  },
  data: function(){
    return {
    }
  },
}
</script>

<style>

</style>



