<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Buildin Directives examples</h4>
                    </div>
                    <div class="panel-body">
                        <p v-text="'Text with v-text'"></p>
                        <p v-html="'HTMLText with <b>v-text</b>'"></p>
                    </div>
                    <div class="panel-heading">
                        <h4>Custom Directive examples</h4>
                    </div>
                    <div class="panel-body">
                        <p v-greenify>Text with v-greenify</p>
                        <p v-highlight="'orange'">Text with v-highlight</p>
                        <p v-accent.delayed="'orange'">Text with v-accent global directive</p>
                        <p> Text with <span v-local.delayed.blink="{baseColor:'orange',finalColor:'black',delay:1000}">v-local</span> local directive</p>
                        <p v-listen:click="alertMe"> Click here</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'

Vue.directive('greenify',{
   bind(el, binding, vnode){
      el.style.backgroundColor = 'lightgreen'
   }
})

Vue.directive('highlight',{
   bind(el, binding, vnode){
      el.style.backgroundColor = binding.value
   }
})

Vue.directive('accent',{
   bind(el, binding, vnode){
      let delay = 0;
      if (binding.modifiers['delayed']){
         delay = 3000
      }
      setTimeout(()=>{
         if (binding.arg=='backgorund')
            el.style.backgroundColor = binding.value;
         else   
            el.style.color = binding.value;      
      },delay)
   }
})

Vue.directive('listen',{
   bind(el, binding, vnode){
      el.addEventListener(binding.arg, binding.value);
}})

export default {
   directives:{
      local:{
         bind(el, binding, vnode){
            let delay = 0;
            if (binding.modifiers['delayed'])
               delay = binding.value.delay
            if (binding.modifiers['blink']){
               let baseColor = binding.value.baseColor;
               let finalColor = binding.value.finalColor;
               let currentColor = baseColor;
               el.style.transition = 'all 1s';
               setTimeout(()=>{
                  setInterval(()=>{
                     currentColor == baseColor? currentColor=finalColor:currentColor=baseColor;
                     if (binding.arg=='backgorund')
                        el.style.backgroundColor = currentColor;
                     else   
                        el.style.color = currentColor;      
                  },binding.value.delay)   
               },delay)
            } else {
               setTimeout(()=>{
                  if (binding.arg=='backgorund')
                     el.style.backgroundColor = binding.value.baseColor;
                  else   
                     el.style.color = binding.value.finalColor;      
               },delay)
            }
         }
      }
   }, 
   methods:{
      alertMe(){
         alert('works');
      }
   }
};
</script> 

<style>
</style>
