<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Filters examples</h4>
                    </div>
                    <div class="panel-body">
                        <p> {{text | toUpperCase | toLowerCase}}</p>
                        <input class='form-contol' v-model='filterText'>
                        <ul>
                            <li v-for="(fruit,index) in filteredFruits" :key='index'>{{fruit}}</li>
                        </ul>
                    </div> 

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'

Vue.filter('toLowerCase',(value)=>{
    return value.toLowerCase();
}
)
export default {
    data(){
        return {
            text:'What fruit do you like the most?',
            fruits:['Apple','Orange', 'Bannana','Pineapple', 'Watermelon','Pear','Mango','Melon'], 
            filterText:''
        }
    }, 
    filters:{
        toUpperCase(value){
            return value.toUpperCase();
        }  
    }, 
    computed:{
        //better perfromance then using filters directly because vue knows when to update it and does not render the element each time the DOM is updated
        filteredFruits() {
            return this.fruits.filter((element)=>{
                return element.match(this.filterText);
            });
        }
    }

};
</script> 

<style>
</style>