<template>
   <div class="form-group">
      <label for="firstName">First Name</label>
      <input
               type="text"
               id="firstName"
               class="form-control"
               v-model="value.firstName"
               @keyup="nameChanged">
      <label for="lastName">Last Name</label>
      <input
               type="text"
               id="lastName"
               class="form-control"
               v-model="value.lastName"
               @keyup="nameChanged">
   </div>
</template>

<script>
    export default {
        props:{
           value:{
              type:Object
           }
        },
        methods:{
           nameChanged(){
              this.$emit('input',this.value)
           }
        }
    }
</script>

<style scoped>

</style>