<template>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <!-- Exercise 1 -->
                    <h1>Registration Form</h1>
                    <!-- Create a Signup Form where you retrieve the following Information -->
                    <!-- Full Name (First Name + Last Name) -->
                    <full-name v-model='fullName'></full-name>
                    <!-- Mail -->
                     <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input
                                type="text"
                                id="email"
                                class="form-control"
                                v-model.lazy="email">
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                                type="password"
                                id="password"
                                class="form-control"
                                v-model.lazy="password">
                    </div>
                    <!-- Store Data? Yes/No -->
                     <div class="form-group">
                        <label for="storeInDB">
                            <input
                                    type="checkbox"
                                    id="storeInDB"
                                    checked = true
                                    v-model.lazy="store"
                                    v-model="store"> Store in the Database
                        </label>
                     </div>
                </div>      
                    <!-- Exercise 2 -->
                    <!-- Only display the Form if it has NOT been submitted -->
                    <!-- Display the Data Summary ONCE the Form HAS been submitted -->
            </div>
            <div class="row">
                  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                     <button
                              class="btn btn-primary"
                              @click.prevent="submitted=true">Submit!
                     </button>
                  </div>
            </div>
                    <!-- Exercise 3 -->
                    <!-- Edit the Example from above and create a custom "Full Name" Control -->
                    <!-- which still holds the First Name and Last Name Input Field -->
        </form>
        <hr>
        <div class="row" v-if="submitted">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
                        <p>Full Name: {{fullName.firstName}} {{fullName.lastName}}</p>
                        <p>Mail: {{email}}</p>
                        <p>Password: {{password}}</p>
                        <p>Store in Database?: {{store}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FullName from './FullName'
    export default {
       data(){
          return{
            fullName:{firstName:'David',lastName:'Lynch'},
            email:'',
            password:'',
            store:true,
            submitted:false
          }
       },
       components:{
          FullName:FullName
       }
    }
</script>

<style>
</style>
