<template>
    <div class="switch">
        <div
                id="positive"
                @click="switched('positive')"
                :class="{active: value=='positive'}">Positive</div>
        <div
                id="neutral"
                @click="switched('neutral')"
                :class="{active:  value=='neutral'}">Neutral</div>
        <div
                id="negative"
                @click="switched('negative')"
                :class="{active:  value=='negative'}">Negative</div>
    </div>
</template>

<script>
    export default {
        props:['value'],
        methods:{
            switched(value){
                this.$emit('input',value);
            }
        }
    }
</script>

<style scoped>
    .switch{
        width: 200px;
        border: 1px solid lightgray;
        padding-left: 4px;
    }
    #positive, #neutral, #negative {
        width: 60px;
        height: 20px;
        background-color: white;
        padding: 2px;
        display: inline-block;
        margin: 10px -2px;
        box-sizing: content-box;
        cursor: pointer;
        text-align: center;
    }

    #positive:hover, #positive.active {
        background-color: lightgreen;
    }

    #neutral:hover, #neutral.active {
        background-color: lightgray;
    }

    #negative:hover, #negative.active {
        background-color:lightcoral;
    }

</style>