<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Make HTTP Requests using Vue Resource</h4>
                    </div>
                    <div class="panel-body">
                       <div class="form-group">
                           <label>Username</label>
                           <input class="form-control" type="text" v-model="user.username">
                       </div>
                       <div class="form-group">
                           <label>Email</label>
                           <input class="form-control" type="text" v-model="user.email">
                       </div>
                       <button class="btn btn-primary" @click="submit('users')">Post User</button>
                       <button class="btn btn-primary" @click="submit('user')">Put User</button>
                       <button class="btn btn-primary" @click='fetchData'>fetchData</button>
                       <hr>
                       <input type=text v-model="resource">
                       <button class="btn btn-primary" @click="save">Add / Save User resource</button>
                       <button class="btn btn-primary" @click='fetch'>Load user resource</button>
                       <ul class="list-group">
                          <li class="list-group-item" v-for='user in users' :key='user.id'><b> {{user.username}}</b> {{user.email}} </li>
                       </ul>
                       <div>
                          <h5>Current user</h5>
                          <b> {{currentuser.username}}</b> {{currentuser.email}} 
                       </div>
                    </div> 

                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      user: {
        username: "",
        email: ""
      },
      users: [],
      currentuser: {
        username: "",
        email: ""
      },
      userResource: {}, 
      resource:"users"

    };
  },
  methods: {
    submit(url) {
      this.$http.post(url + ".json", this.user).then(
        response => {
          console.log(response);
        },
        error => {
          console.log(error);
        }
      );
    },
    fetchData() {
      this.$http
        .get("users.json")
        .then(response => {
          return response.json();
        })
        .then(data => {
          this.users = Object.values(data);
        });
      this.$http
        .get("user.json")
        .then(response => {
          return response.json();
        })
        .then(data => {
          this.currentuser = data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    save() {
      console.log(this.userResource);
      //this.userResource.save({},this.user);
      this.userResource.saveAlt({}, this.user);
    },
    fetch() {
      this.users = this.userResource.getData({resource:this.resource})
        .then(response => {
          return response.json();
        })
        .then(data => {
          this.users = Object.values(data);
        });
    }
  },
  created() {
    const customActions = {
      saveAlt: { method: "POST", url: "alt.json" },
      getData:{method:'GET'}
    };
    this.userResource = this.$resource("{resource}.json", {}, customActions);
  }
};
</script>

<style>
</style>

